body{
    margin: 0;
    min-height: 100vh;
    background: white;
    background-attachment: fixed;
    color: black;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.Crear_Usuario_Box{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 
        0 8px 32px rgba(0,0,0,0.25),
        inset 0 0 20px rgba(255,255,255,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Crear_Usuario_Titulo{
    width: 600px;
    background-color: blue;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.Crear_Usuario_Button{
    width: 600px;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.Crear_Usuario_Box input{
    width: 180px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid black;
    color:black;
    outline:none;
    backdrop-filter: blur(5px);
}

.Crear_Usuario_Box input::placeholder{
    color: black;
}

.Crear_Usuario_Button button{
    width: 600px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:none;
    color: white;
    background-color: transparent;
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.Crear_Usuario_Box button:hover{
    background: rgba(255,255,255,0.45);
}

.Crear_Usuario_Box a{
    padding: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

.Crear_Usuario_Box a:hover{
    background: rgba(255,255,255,0.35);
    transform: scale(1.05);
    border-radius: 10px;
}

.Crear_Usuario_Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
}

.Crear_Usuario_Pass, .Crear_Usuario_Info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.Campo_Password, .Campo_Datos{
    display: flex;
    flex-direction: column;
}